<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "blog", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Articles', controller: 'articles' %></li>
				<li><%= link_to 'New article', new_article_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>